.title {
	width: 500px;
	background-color: #02343F;
	color: #F0EDCC;
	text-align: center;
	font-size: 1.8em;
	margin: 0 auto;
	padding: 15px;
	margin-top: 150px;
}

.reg_wrapper>.inner {
	width: 100%;
}

.joinform {
	margin: 0 auto;
	width: 500px;
}

h1 {
	text-align: center;
}

textarea {
	resize: none;
}

.text1 {
	width: 500px;
	height: 50px;
	border: solid 3px;
}

.text2 {
	width: 500px;
	height: 50px;
	border: solid 3px;
}

.text3 {
	width: 500px;
	height: 300px;
	border: solid 3px;
}

.btnbox {
	display: flex;
	margin-top: 50px;
	width: 100%;
	height: 50px;
}

.b1, .b2, .b3 {
	box-shadow: gainsboro 5px 5px;
	border-color: white;
	width: 30%;
	height: 100%;
	display: inline-block;
	background-color: #02343F;
	color: white;
	margin: auto;
}

.mask {
	width: 500px;
	height: 106px;
	position: relative;
	overflow: hidden;
	margin-top: var(- -offset);
	z-index: 0;
	margin: 0 auto;
	height: 106px;
}

.mask span {
	display: block;
	box-sizing: border-box;
	position: absolute;
	top: 110px;
	height: 50px;
	font-size: xx-large;
	padding-bottom: var(- -offset);
	background-size: 100% 100%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	z-index: 0;
	padding-bottom: var(- -offset);
}

.mask span[data-show] {
	transform: translateY(-100%);
	transition: .5s transform ease-in-out;
}

.mask span[data-up] {
	transform: translateY(-200%);
	transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
	background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
	background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(3) {
	background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(4) {
	background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}