span{
	display: inline-block;
	width: 150px;
	margin-top: 50px;
	font-size:30px;
}

.id {
	display: inline-block;
	margin-left: 30px;
}

.idform {
	height: 50px;
	margin-top: 30px;
}

body{
	color: black;
}

input{
	border-radius: 5px;
	height: 50px;
	margin: 30px;
	width: 300px;
}

.editform__wrapper{
}

.editform__wrapper > .inner{
	display: flex;
	margin-top: 150px;
}

.editform__wrapper .inner .inner__wrapper{
	margin : 0 auto;
}

.idform .nameform .cellphoneform .passwordform{
	border-radius: 10px;
	height: 50px;
	margin: 30px;
	width: 300px;
}

.inner__wrapper{
	-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	      animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-ver-top {
	0% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
		-webkit-transform-origin: 100% 0%;
		        transform-origin: 100% 0%;
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
		-webkit-transform-origin: 100% 0%;
		        transform-origin: 100% 0%;
		opacity: 1;
	}
}
@keyframes scale-in-ver-top {
	0% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
		-webkit-transform-origin: 100% 0%;
		        transform-origin: 100% 0%;
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
		-webkit-transform-origin: 100% 0%;
		        transform-origin: 100% 0%;
		opacity: 1;
	}
}
.button{
	color: white;
	background-color:#02343F;
	margin-left: 110px;
	width: 300px;
	height: 70px;
	border-radius: 5px;
	border-color: #F0EDCC;
}
.button:hover{
		-webkit-animation: jello-horizontal 0.9s both;
				animation: jello-horizontal 0.9s both;
}

 @-webkit-keyframes jello-horizontal {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		        transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		        transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		        transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		        transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		        transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		        transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		        transform: scale3d(1, 1, 1);
	}
}
@keyframes jello-horizontal {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		        transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		        transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		        transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		        transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		        transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		        transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
	}
}
