 @import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
  margin: 0;
  padding: 0;
  background: #fff;

  color: #fff;
  font-family: Arial;
  font-size: 12px;
  max-width: 1100px;
}

.body{
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(https://cdn.pixabay.com/photo/2014/06/04/16/40/exhibition-362163_960_720.jpg);
  background-size: cover;
  -webkit-filter: blur(5px);
  z-index: 0;
}

.grad{
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  z-index: 1;
  opacity: 0.7;
}

.header{
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 255px);
  z-index: 2;
  animation: bounce 1s;
}

.header div{
  float: left;
  color:black;
 
  font-size: 40px;
  font-weight: 300;
 
}

.header div span{
  color: #F0EDCC !important;
}

.serch{
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}

.serch input[type=text]{
  width: 250px;
  height: 30px;
  background: #F0EDCC;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color:black;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  animation: bounce 1s;
}

.serch input[type=text]{
  width: 250px;
  height: 30px;
  background: #F0EDCC;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color:black;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
  animation: bounce1 1.3s;
}

.serch button{
  width: 260px;
  height: 35px;
  background: #02343F;
  border: 1px solid #fff;
  
  cursor: pointer;
  border-radius: 5px;
  color: #F0EDCC;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
  animation: bounce2 1.6s; 
}
@keyframes bounce {
  0% { transform: translateY(-250px); opacity: 0; }
} 
@keyframes bounce1 {
  0% {  opacity: 0; }
  40% { transform: translateY(-100px); opacity: 0;}
}
@keyframes bounce2 {
  0% {  opacity: 0; }
  70% { transform: translateY(-20px); opacity: 0;}
} 

.serch button[type=submit]:hover{
  opacity: 0.8;
}

.serch button[type=submit]:active{
  opacity: 0.6;
}

.serch input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.serch input[type=number]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login button[type=submit]:focus{
  outline: none;
}

::-webkit-input-placeholder{
   color: black;
}

::-moz-input-placeholder{
   color: black;
}